.kpi__container {
  display: flex;

  margin-left: 2rem;
  margin-right: 2rem;
  flex-wrap: wrap;
}
.kpi {
  width: 18rem;
  height: 7.813rem;
  box-shadow: 0px 4px 4px #00000005;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: auto;

  h2 {
    text-align: left;
    font: normal normal 300 14px/21px Poppins;
    letter-spacing: 0px;
    color: #787878;
    opacity: 1;
  }

  svg {
    width: 1.75rem;
    height: auto;
    color: #e23428;
  }

  &__icon {
    padding: 1rem;
    background-color: #ffedec;
    margin-left: 2rem;
  }
}
