body {
  font-family: "Poppins", sans-serif;
}

.flex__sidebar__div {
  display: flex;
}

.sidebar {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 19rem;
  box-shadow: 16px 4rem 25px #00000005;

  &__tittle {
    display: flex;
    align-items: flex-start;
  }

  h1 {
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  h2 {
    margin-top: 3rem;
    margin-left: -4.4rem;
    color: #333;
    width: 11rem;
    font-size: 12px;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 0.625rem;
      margin: 0.625rem 0;
      border-radius: 0.3125rem;
      cursor: pointer;
      color: #799283;

      a {
        text-decoration: none;
        color: #799283;
        margin-left: 0.625rem;
        flex-grow: 1;
      }

      &:hover,
      &.selected,
      &.selected img {
        color: #e23428;
        padding-left: 1rem;
        border-left: 0.4rem solid #e23428;
      }

      &:hover a,
      &.selected a {
        color: #e23428;
      }
    }
  }
}

.user__info {
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  flex-direction: column;
  width: 14.563rem;

  height: 16rem;
  box-shadow: 0px 20px 30px #00000014;
  border-radius: 18px;

  padding-bottom: 1rem;

  img {
    width: 5rem;
    height: 5rem;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 1.5rem;
  }

  &__details {
    display: block;
    margin: auto;
    h3 {
      margin-top: 0.5rem;
      font-size: 16px;
      text-align: center;
    }

    p {
      margin-top: 0.5rem;
      font-weight: 100;
      color: #666;
      font-size: 12px;
      text-align: center;
    }

    button {
      width: 10rem;
      height: 3.125rem;
      background-color: #ebf1ef;
      color: #135846;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      font-size: 1rem;
      font-weight: 800;
      margin-top: 1rem;
    }

    &__btn {
      width: 158px;
      height: 47px;
    }
  }
}

.sidebar__footer {
  margin: auto;

  h3 {
    font-size: 13px;
    margin-top: 1rem;
  }
  h4 {
    font-size: 10px;
    margin: 0 0 0.625rem;

    color: #799283;
    margin-bottom: 2rem;
  }
  h5 {
    font-size: 10px;
    margin: 0 0 0.625rem;

    color: #799283;

    svg {
      margin-left: 0.3125rem;
      color: #e23428;
    }
  }
}

.new__rooms {
  display: flex;
  align-items: center;
  border-radius: 0.3125rem;
  cursor: pointer;
  color: #799283;
  padding-left: 1rem;
  margin-top: -1rem;

  a {
    text-decoration: none;
    color: #799283;
    margin-left: -0.7rem;
    flex-grow: 1;
  }

  &:hover a,
  &.selected a {
    color: #ff1100;
  }
  svg {
    position: relative;
    top: -1.4rem;
    right: -6rem;
  }
}
.create__room {
  svg {
    position: relative;
    top: 0.15rem;
    left: -0.8rem;
  }
}

//Side Bar Appear Disspear
.sidebar-container {
  transform: translateX(-100%);
}

.sidebar-container.open {
  transform: translateX(0);
}
