.bookings-page {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 2rem;
  transition: margin-left 0.3s ease;
}

.filter-buttons {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;

  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #007bff;
    color: #fff;

    &:hover {
      background-color: #0056b3;
      transform: translateY(-2px);
    }

    &.active {
      background-color: #0056b3;
    }
  }
}

.bookings-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  th,
  td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
    font-weight: 600;
  }

  td {
    background-color: #fff;
  }

  .guest-photo {
    width: 8rem;
    height: 8rem;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }

  button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #e9e9e9;
      transform: translateY(-2px);
    }

    &.delete-button {
      color: #fff;
      background-color: red;

      &:hover {
        background-color: darkred;
      }
    }
  }
}

.image__text__column {
  display: flex;
  align-items: center;
  gap: 1rem;

  .text {
    h1 {
      font-size: 1.2rem;
      margin: 0;
      color: #333;
    }

    h2 {
      font-size: 1rem;
      margin: 0;
      color: #777;
    }
  }
}
